.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, white 100%);
}

.header_tile {
        height: 100px;
    }

.subscribe_post {
     display: flex;
    background-color:cornsilk;
     align-items: center;
     color: red;
     vertical-align:middle;

    }

.city{
        background-image: url(../img/cityimage.jpg);
        align-items: center;
        color: red;
        vertical-align:middle;
   
       }
 .post-info{
    color: white;
    text-align: right;

 }

 .post-info-clear{

    color: black;
    text-align: right;
    font-weight: bold;
 }

.submit {
 background-color: red;
 color: orange;
 text-decoration: navy;
}
.maps{
        background-image: url(../img/googlemaps.jpg);
        align-items: center;
        color: red;
        vertical-align:middle;
   
       }

.color-detail{
    color: white;
}