.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, white 100%);
}

.header_tile {
        height: 100px;
    }

.subscribe_post {
     display: flex;
    background-color: white;
     align-items: center;
     color: red;
     vertical-align:middle;

    }

.city{
        background-image: url(../img/cityimage.jpg);
        align-items: center;
        color: red;
        vertical-align:middle;
   
       }


.maps{
        background-image: url(../img/googlemaps.jpg);
        align-items: center;
        color: red;
        vertical-align:middle;
   
       }