@import "nav.css";
@import "layout.css";

.container {
    display: grid;
    grid-template-columns: 150px 100px 300px 300px;
    grid-template-rows: 100px 700px 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
    color: black;
}

.active {
    color: black;
    justify-items: right;
}

ul {
    list-style-type: none;
    justify-self: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    top: 10%;
    width: 100%;
    direction: rtl;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.box {
    border: 1px solid rgb(0, 255, 255);
}
.header {
    grid-area: hd;
    background: orange;
    color: black;
    height: 100px;
    top: 0;
    width: 100%;
}
.footer {
    grid-area: ft;
    background: cornsilk;
}
.sidebar {
    background-repeat: no-repeat;
    grid-area: sd;
    color: white;
    background: black;
    background-image: url("../img/town2.jpg");
}

.content {
    grid-area: main;
    background-color: cornsilk;
    align-content: space-between;
}

.newsletter-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}

.newsletter-element {
    width: 20%;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 300px auto auto 10px;
        grid-template-areas:
            "hd "
            "sd "
            "main"
            "ft";
        border: 2px solid red;
    }

    .footer {
        grid-area: ft;
        height: 30px;
        justify-self: flex-end;
    }
}

.link-color {
    color: red;
}

.float-side {
    float: right;
}
.footer {
    grid-area: ft;
    color: #222;
    height: 60px;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.fab {
    padding: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 2px;
    background-color: cornsilk;
}

.card:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.container-card {
    padding: 40px 30px;
}
